<!DOCTYPE html>
<html>
<head>
    <title>Shovel Monkey</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- begin inner template-->
<!--<p>Logged in as: $user <a href="/logout">Logout</a> <p>-->
<p>Shovel Monkey Logo</p>
<a href="/">Home</a>
<a href="/products">Products</a>



<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>