<!DOCTYPE html>
<html>

<head>
    <title>Shovelmonkey</title>
    <meta charset="utf-8"/>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<header class="container-fluid">

    <div class="row">
        <h2 class="col-sm-2"><a href="/">ShovelMonkey</a></h2>

        <nav class="col-sm-9">
            <p class="col-sm-1 text-left" style="visibility: hidden"><a href="/products">Products</a></p>

            #if($user.getName())
            <p class="col-sm-3 col-sm-offset-3 text-right hello">Hello $user.getName()</p>
            #end
            <p class="col-sm-2 text-right"><a href="#">My Account</a></p>
            #if(!$user.getName())
            <p class="col-sm-3 text-center"><a href="/login">Login/Register</a></p>
            #else
            <p class="col-sm-3 text-center"><a href="/logout">Logout</a></p>
            #end
            <p class="col-sm-1 text-center"><a href="/baskets/orders"><i class="fas fa-shopping-basket"></i></a></p>
            <p class="col-sm-1 text-left"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></p>
        </nav>

    </div>

    <div class="row second">
        <p class="col-sm-3 text-center"><a href="/products/category/1">EXCAVATION</a></p>
        <p class="col-sm-3 text-center"><a href="/products/category/2">DRAWING & RECORDING</a></p>
        <p class="col-sm-3 text-center"><a href="/products/category/3">FINDS & STORAGE</a></p>
        <p class="col-sm-3 text-center"><a href="/products/category/4">SURVEY & MEASURE</a></p>

    </div>

</header>



<section class="jumbotron">
    <div class="container-fluid" style="width: 1400px">
        #parse( $template )
    </div>
</section>

</body>


</html>