  <form action="/login" method="post">
    <label for="name">Your name</label>
    <input id="name" name="name" type="text">

  </form>

  <form>


      <label for="username">Your username</label>
      <input id="username" name="username" type="text">


    <button type="submit">Submit name</button>
  </form>