<div>

    <h1>Login</h1>


  <form action="/login" method="post">
    <label for="name">Your name</label>
    <input id="name" name="name" type="text">

      <button type="submit">Submit name</button>

  </form>



</div>